body {
    font-family: "American Typewriter", sans-serif;
    text-align: center;
    background: #111;
    hr {
        height: 10px;
        background-color: #999fff;
    }
    .logo {
        width: 80px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    h1 {
      font-size: 50px;
      text-align: center;
      color: #74ff82;
    }
    h2 {
      text-align: left;
      color: #5d5fff;
    }
    h3 {
        text-align: left;
        color: #ff8eb1;
    }
    ul {
        list-style-type: none;
    }
    li {
        text-align: left;
        color: #00BBAA;
    }
}


