<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleHome.css') }}">
    <title>Bear</title>
  </head>
  <body>
    <header class="top-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/">Bear</a>
        </div>
        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/anime">Anime Library</a>
          <a href="/">Weather Broadcast</a>
          <a href="/">About Author</a>
        </nav>
      </div>
    </header>
  </body>
</html>